/*Base*/
/*Utilities*/
/*Base*/
/*Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap");
/*PROMPT*/
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap");
/*Source Code Pro*/
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
* {
  margin: 0;
  padding: 0; }

html {
  font-family: 'Prompt', sans-serif !important; }

body {
  max-width: 100%;
  font-size: 1em;
  scroll-behavior: smooth;
  overflow-x: hidden; }

.bodyContent {
  margin: 30px; }

@media screen and (max-width: 768px) {
  body {
    font-size: 0.9em;
    scroll-behavior: smooth; } }

/*End Media Screen 768px*/
@media screen and (max-width: 480px) {
  body {
    font-size: 0.9em; } }

/*End Media Screen 480px*/
@media screen and (max-width: 320px) {
  body {
    font-size: 0.8rem; } }

/*Components*/
/*----------Background-Colors------*/
.darkBlue {
  background-color: #1A3544; }

.black {
  background-color: #000; }

.green {
  background-color: #6BDE3D; }

.darkGray {
  background-color: #47525E; }

.lightGray {
  background-color: #8190A5; }

/*----------Text colors------------*/
.darkBlueTx {
  color: #1A3544; }

.greenTx {
  color: #6BDE3D; }

.darkGrayTx {
  color: #47525E; }

.lightGrayTx {
  color: #8190A5; }

.whiteTx {
  color: #fff; }

.backTx {
  color: #000; }

/*----------Text effects------------*/
.boldTx {
  font-weight: bold; }

.semiBoldTx {
  font-weight: 400; }

.lightTx {
  font-weight: lighter; }

.cTx {
  text-align: center; }

.rTx {
  text-align: right; }

.lTx {
  text-align: left; }

.jTx {
  text-align: justify; }

.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

.noDecorateTx {
  text-decoration: none; }

/*----------Text aligns------------*/
.cTx {
  text-align: center; }

.rTx {
  text-align: right; }

.lTx {
  text-align: left; }

/*----------Buttons---------*/
.lgBtn {
  margin-top: 15px;
  padding: 10px 100px;
  text-decoration: none;
  display: inline-block; }

.smBtn {
  margin-top: 15px;
  padding: 10px 50px;
  text-decoration: none;
  display: inline-block; }

/* Special features */
.boxShadow {
  box-shadow: 0 0 10px 2px #aaa8a8; }

.rounded {
  border-radius: 50px; }

.semiRounded {
  border-radius: 10px; }

.space {
  padding-top: 30px; }

.line {
  display: block; }

.noList {
  list-style: none; }

.noDecoration {
  text-decoration: none; }

.roundedImg {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: auto; }

.slider {
  background-color: #F2F2F2;
  padding: 40px; }
  .slider .container {
    width: 90%;
    min-height: 60vh;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden; }
  .slider .slider__container {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    gap: 1em; }
    .slider .slider__container .slider__body {
      grid-column: 2/3;
      grid-row: 1/2;
      opacity: 0;
      pointer-events: none;
      display: grid;
      background-color: #F2F2F2;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      transition: opacity 1.5s; }
      .slider .slider__container .slider__body .slider__text {
        max-width: 600px; }
        .slider .slider__container .slider__body .slider__text .subtitle {
          font-size: 2em; }
        .slider .slider__container .slider__body .slider__text .slider__review {
          font-weight: 2em;
          line-height: 1.7; }
      .slider .slider__container .slider__body .slider__img {
        width: 300px;
        object-fit: cover;
        /* Las Siguientes lineas sirven para centrarla horizontalmente*/
        display: block;
        margin: auto; }
    .slider .slider__container .slider__body--show {
      opacity: 1;
      pointer-events: unset; }
    .slider .slider__container .slider__arrow {
      cursor: pointer; }
      .slider .slider__container .slider__arrow:nth-of-type(2) {
        justify-self: end; }

@media screen and (max-width: 768px) {
  .slider .slider__container .slider__body {
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr; }
    .slider .slider__container .slider__body .slider__picture {
      grid-row: 1/2; }
      .slider .slider__container .slider__body .slider__picture .slider__img {
        width: 210px;
        height: 210px; } }

@media screen and (max-width: 576px) {
  .slider .slider__container {
    grid-template-columns: 25px 1fr 25px; }
    .slider .slider__container .slider__text .subtitle {
      font-size: 2em;
      margin-bottom: 15px; }
    .slider .slider__container .slider__text .slider__review {
      font-size: 1em;
      line-height: 1.6; }
    .slider .slider__container .slider__picture .slider__img {
      width: 180px;
      height: 180px; }
    .slider .slider__container .slider__arrow {
      width: 100%; } }

/*Layout*/
/*------Nav-------*/
.head__nav {
  background-color: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 8px 0;
  /*--- Burger Nav---*/ }
  .head__nav .head__nav--burger div {
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease; }
  .head__nav .head__nav--logo {
    font-size: 1.6em;
    letter-spacing: 8px; }
  .head__nav .head__nav--content {
    display: flex;
    justify-content: space-around;
    width: 60%; }
    .head__nav .head__nav--content a {
      letter-spacing: 1px;
      /* font-weight: bold; */ }
      .head__nav .head__nav--content a:hover {
        transform: translateY(-50px);
        transition: all 0.5s;
        color: #6BDE3D;
        padding: 15px; }
    .head__nav .head__nav--content .active {
      border-bottom: #6BDE3D 5px solid;
      padding: 5px; }
    .head__nav .head__nav--content ul {
      display: flex;
      justify-content: space-around; }

/*---Responsive NAV --*/
.head__nav--burger {
  display: none;
  font-size: 1.2em; }

@media screen and (max-width: 768px) {
  /*------ NAVBAR -------*/
  .head__nav--content {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    flex-direction: column;
    background-color: #1A3544;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in; }
    .head__nav--content li {
      opacity: 0; }
  .head__nav--burger {
    display: block;
    cursor: pointer; }
  .head__nav--contentActive {
    transform: translate(0%); }
  @keyframes head__nav--contentFade {
    from {
      opacity: 0;
      transform: translateX(50px); }
    to {
      opacity: 1;
      transform: translateX(0px); } }
  .toggle .head__nav--burger-1 {
    transform: rotate(-45deg) translate(-3px, 5px); }
  .toggle .head__nav--burger-2 {
    opacity: 0; }
  .toggle .head__nav--burger-3 {
    transform: rotate(45deg) translate(-5px, -7px); } }

footer {
  background-color: #141212;
  font-size: 1.5rem; }
  footer .footer__logo {
    padding: 200px 100px 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    footer .footer__logo h2 {
      letter-spacing: 20px;
      font-size: 2.2em;
      color: #6BDE3D; }
  footer .footer__social {
    padding: 0 150px 200px;
    display: flex;
    justify-content: center;
    align-items: center; }
    footer .footer__social ul {
      margin-top: 30px;
      display: flex;
      justify-content: space-around;
      width: 60%; }
      footer .footer__social ul li {
        list-style: none; }
        footer .footer__social ul li a {
          color: #fff; }
          footer .footer__social ul li a:hover {
            color: #1A3544; }
  footer .footer__credits {
    background-color: #000;
    padding: 30px 0; }
    footer .footer__credits ul {
      display: flex;
      justify-content: space-around; }
      footer .footer__credits ul li {
        list-style: none; }
        footer .footer__credits ul li p {
          font-size: 0.66667em; }
        footer .footer__credits ul li a {
          text-decoration: none;
          color: #6BDE3D; }

@media screen and (max-width: 768px) {
  footer .footer__logo {
    padding: 120px 50px 0; }
    footer .footer__logo h2 {
      font-size: 1em; } }

@media screen and (max-width: 576px) {
  footer .footer__logo {
    padding: 120px 50px 0; }
  footer .footer__social {
    padding-bottom: 100px;
    padding-right: 20px;
    padding-left: 20px; } }

/*Views*/
/*-------------------------------------Home -desktop -------------------------------*/
/* ---------- Header Banner -------- */
.head__banner {
  background-image: url("../assets/img/home/banner_index-min.jpg");
  padding: 50px;
  max-width: 100%;
  height: 450px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, auto);
  grid-template-areas: "head__banner_logo     head__banner_text"; }
  .head__banner .head__banner--logo {
    padding-top: 90px;
    grid-area: head__banner_logo;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff; }
    .head__banner .head__banner--logo h2 {
      letter-spacing: 9px; }
  .head__banner .head__banner--text {
    grid-area: head__banner_text;
    padding-top: 90px;
    line-height: 40px; }

/* ---------- Servicios -------- */
.servicios {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, auto);
  grid-template-areas: "servicios__web       servicios__aplicaciones        servicios__multimedia"; }
  .servicios .servicios__web {
    grid-area: servicios__web; }
  .servicios .servicios__aplicaciones {
    grid-area: servicios__aplicaciones; }
  .servicios .servicios__multimedia {
    grid-area: servicios__multimedia; }
  .servicios img {
    width: 100%; }

/*----Home - Large -------*/
@media screen and (max-width: 992px) {
  .head__banner {
    height: 300px; }
    .head__banner .head__banner--logo {
      padding-top: 30px; }
    .head__banner .head__banner--text {
      padding-top: 30px;
      line-height: 30px; } }

/*------ Home - Medium-------*/
@media screen and (max-width: 768px) {
  .head {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "head__nav" "head__banner"; }
    .head .head__nav {
      grid-area: head__nav; }
    .head .head__banner {
      grid-area: head__banner; }
  .servicios {
    grid-template-columns: 1fr;
    grid-template-areas: "servicios__web" "servicios__aplicaciones" "servicios__multimedia"; }
    .servicios .servicios__web--content {
      text-align: center; }
      .servicios .servicios__web--content .servicios__web--content--link {
        display: flex;
        justify-content: space-around; }
    .servicios .servicios__aplicaciones--content {
      margin-top: 30px;
      text-align: center; }
      .servicios .servicios__aplicaciones--content .servicios__aplicaciones--content--link {
        display: flex;
        justify-content: space-around; }
    .servicios .servicios__multimedia--content {
      margin-top: 30px;
      text-align: center; }
      .servicios .servicios__multimedia--content .servicios__multimedia--content--link {
        display: flex;
        justify-content: space-around; } }

/*------Home - Long Cell ----------*/
@media screen and (max-width: 576px) {
  .head__banner {
    padding-top: 30px;
    height: 400px;
    grid-template-columns: 1fr;
    grid-template-areas: "head__banner_text"      "head__banner_logo"; }
    .head__banner .head__banner--text {
      padding-top: 10px;
      line-height: 30px; } }

/*------ Home - Tall Cell-------*/
@media screen and (max-width: 320px) {
  .head__banner--content h1 {
    font-size: 1rem; }
  article {
    grid-template-areas: "article__img" "article__content"; }
  .servicios {
    grid-template-columns: 1fr;
    grid-template-areas: "servicios__web" "servicios__multimedia" "servicios__accesorios"; }
  .testimonios__img img {
    margin-left: 30px; } }

/*------------------------------------------ Servicios -Desktop -------------------------------------*/
.servicios__nav ul {
  display: flex;
  justify-content: space-around; }
  .servicios__nav ul li a {
    text-decoration: none;
    color: var(--darkGray); }
    .servicios__nav ul li a .active {
      border-bottom: solid 5px #6BDE3D; }

.servicios__slide {
  min-width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, auto);
  grid-template-areas: "servicios__slide--img        servicios__slide--content" "servicios__slide--nav        servicios__slide--nav"; }
  .servicios__slide .servicios__slide--img {
    grid-area: servicios__slide--img; }
  .servicios__slide .servicios__slide--content {
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: end;
    align-content: center;
    grid-area: servicios__slide--content; }
  .servicios__slide .servicios__slide--nav {
    grid-area: servicios__slide--nav;
    /*End Servicios -Desktop*/ }
    .servicios__slide .servicios__slide--nav ul {
      font-size: 6rem;
      display: flex;
      justify-content: space-evenly; }

/*--------Servicios - Tablet --------*/
@media screen and (max-width: 768px) {
  .servicios__slide {
    grid-template-columns: 300px 478px;
    grid-gap: 20px; }
  .servicios__slide--img img {
    width: 300px; }
  .servicios__slide--content {
    align-items: center;
    padding: 10px; } }

/*--------Servicios - Log Cell --------*/
@media screen and (max-width: 480px) {
  .servicios__slide {
    padding: 0px;
    grid-template-columns: 1fr;
    grid-template-areas: "servicios__slide--img" "servicios__slide--content" "servicios__slide--nav"; }
    .servicios__slide .servicios__slide--img img {
      width: 100%; }
  .servicios__nav ul {
    flex-wrap: wrap; } }

/*End Media Screen 480px*/
/*------------------------------------------ Productos -Desktop -------------------------------------*/
.bannerProductos {
  background-image: url("../img/productos/ciervo.jpg");
  width: 100%;
  height: 400px; }
  .bannerProductos .bannerProductos--content {
    color: #fff;
    width: 40%;
    padding-top: 100px;
    padding-left: 50px; }
    .bannerProductos .bannerProductos--content:hover {
      transform: translateX(100px);
      transition: all 2s; }
    .bannerProductos .bannerProductos--content a {
      float: right; }

.productosUno {
  position: relative;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto 1fr);
  grid-template-areas: "productosUno__fts      productosUno__snd       productosUno__thr"; }
  .productosUno .productosUno__fts {
    grid-area: productosUno__fts; }
    .productosUno .productosUno__fts:hover {
      transform: translateY(-50px);
      transition: all 0.5s;
      color: #fff;
      background-color: #1A3544;
      padding: 30px 30px 10px 30px;
      border-radius: 5px; }
      .productosUno .productosUno__fts:hover a {
        display: inline-block; }
  .productosUno .productosUno__snd {
    grid-area: productosUno__snd; }
    .productosUno .productosUno__snd:hover {
      transform: translateY(-50px);
      transition: all 0.5s;
      color: #fff;
      background-color: #1A3544;
      padding: 30px 30px 10px 30px;
      border-radius: 5px; }
      .productosUno .productosUno__snd:hover a {
        display: inline-block; }
  .productosUno .productosUno__thr {
    grid-area: productosUno__thr; }
    .productosUno .productosUno__thr:hover {
      transform: translateY(-50px);
      transition: all 0.5s;
      color: #fff;
      background-color: #1A3544;
      padding: 30px 30px 10px 30px;
      border-radius: 5px; }
      .productosUno .productosUno__thr:hover a {
        display: inline-block; }
  .productosUno img {
    width: 100%; }
  .productosUno a {
    display: none; }

/*------Productos - Tablet ----------*/
@media screen and (max-width: 768px) {
  .bannerProductos--content {
    width: 60%; }
    .bannerProductos--content a {
      float: left; }
  .productosUno {
    max-width: 768px; }
    .productosUno a {
      display: block; } }

/*End Media Screen 768px*/
/*------Productos - Long Cell ----------*/
@media screen and (max-width: 480px) {
  .bannerProductos--content {
    width: 80%; }
    .bannerProductos--content a {
      float: left; } }

/*End Media Screen 480px*/
