/*----------Background-Colors------*/
.darkBlue{
    background-color: $darkBlue;
}

.black{
    background-color: $black;
}

.green{
    background-color: $green;
}

.darkGray{
    background-color: $darkGray;
}
.lightGray{
    background-color: $lightGray;
}