/*-------------------------------------Home -desktop -------------------------------*/
/* ---------- Header Banner -------- */
.head__banner {
    background-image: url("../assets/img/home/banner_index-min.jpg");
    padding: 50px;
    max-width: 100%;
    height: 450px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "head__banner_logo     head__banner_text";

    .head__banner--logo {
        padding-top: 90px;
        grid-area: head__banner_logo;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $white;

        h2 {
            letter-spacing: 9px;
        }
    }

    .head__banner--text {
        // font-family: 'Source Code Pro', monospace;
        grid-area: head__banner_text;
        padding-top: 90px;
        line-height: 40px;
    }
}

/* ---------- Servicios -------- */
.servicios {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "servicios__web       servicios__aplicaciones        servicios__multimedia";

    .servicios__web {
        grid-area: servicios__web;
    }

    .servicios__aplicaciones {
        grid-area: servicios__aplicaciones;
    }

    .servicios__multimedia {
        grid-area: servicios__multimedia;
    }

    img {
        width: 100%;
    }
}

/*----Home - Large -------*/

@media screen and(max-width: 992px) {
    .head__banner {
        height: 300px;

        .head__banner--logo {
            padding-top: 30px;
        }

        .head__banner--text {
            padding-top: 30px;
            line-height: 30px;
        }
    }
}

/*------ Home - Medium-------*/
@media screen and (max-width: 768px) {
    .head {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, auto);
        grid-template-areas: "head__nav"
            "head__banner";

        .head__nav {
            grid-area: head__nav;
        }

        .head__banner {
            grid-area: head__banner;
        }
    }

    .servicios {
        grid-template-columns: 1fr;
        grid-template-areas:
            "servicios__web"
            "servicios__aplicaciones"
            "servicios__multimedia";

        .servicios__web--content {
            text-align: center;

            .servicios__web--content--link {
                display: flex;
                justify-content: space-around;
            }
        }

        .servicios__aplicaciones--content {
            margin-top: 30px;
            text-align: center;

            .servicios__aplicaciones--content--link {
                display: flex;
                justify-content: space-around;
            }
        }

        .servicios__multimedia--content {
            margin-top: 30px;
            text-align: center;

            .servicios__multimedia--content--link {
                display: flex;
                justify-content: space-around;
            }
        }
    }
}

/*------Home - Long Cell ----------*/
@media screen and (max-width: 576px) {
    .head__banner{
        padding-top: 30px;
        height: 400px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "head__banner_text"     
        "head__banner_logo";

        .head__banner--text {
            padding-top: 10px;
            line-height: 30px;
        }
    }
}

/*------ Home - Tall Cell-------*/
@media screen and (max-width: 320px) {


    .head__banner--content {
        h1 {
            font-size: 1rem;
        }
    }

    article {
        grid-template-areas: "article__img"
            "article__content";
    }

    .servicios {
        grid-template-columns: 1fr;
        grid-template-areas: "servicios__web"
            "servicios__multimedia"
            "servicios__accesorios";
    }

    .testimonios__img {
        img {
            margin-left: 30px;
        }
    }
}