/*------------------------------------------ Servicios -Desktop -------------------------------------*/
.navServices{
    ul{
        list-style: none;
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;
        li{
            font-size: $generalFontSize / 1.5;
            cursor:pointer;
        }
    }
}
/*End Media Screen 480px*/